.App {
  text-align: center;
  /*background-color: #F0EFEA;*/
  background-color: #F8F5F2;
  height: 100vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
   color: #61dafb;
  /*color: #000B29;*/
}

.App .navbar-brand {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bold;
  border-radius: 0px !important;
}

.ModalSection {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 10px !important;
  font-weight: normal;
}

.ModalImgSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CardButton{
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  /*background-color: #1E434C !important;*/
  background-color: #000B29 !important;
  color: white;
  font-weight: bold;
  border-radius: 0px !important;
}
:active{
  box-shadow: 0 0 0 0;
}

.leftButton{
  width: 80% !important;
  float: left;
}

.rightButton{
  width: 20% !important;
  float: right;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.Img {
}

.NavBar {
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
  /*background-color: #B03A2E;*/
  /*background-color: #8D230F;*/
  /*background-color: #A10115;*/
  background-color: #D70026;
}

.Button {
  margin-top: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.ButtonGroup {
  display: flex;
}

.containerHorizontalScroll {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 120px;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
  align-items: center;
}

.footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
  color: #000B29;
  font-size: small;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: sans-serif;
  margin-top: 15px;
  background-color: white;
}

.PlaceHolder {
  height: 15px;
}

.BgRed {
  background-color: #D70026 !important;
}

.audioBlock {
  background-color: #F8F5F2;
}

.Container {
  background-color: #F8F5F2;
}

.BgBlue{
  background-color: #20639B !important;
}

.BgLightB{
  background-color: #3CAEA3 !important;
}
